<!DOCTYPE html>
<html>
<head>
  <title>SfLeadGen</title>
  <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script> -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<%= render 'layouts/header'%>
	<div class="container">
		<% flash.each do |key, value| %>
		   <div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
	</div>	

</body>
</html>
